html,
body {
  padding: 0;
  margin: 0;
  font-family: manrope;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-transition {
  position: absolute;
  
  transition: top 4;
}


#shine {
position: absolute;
top: 0;
left: 0;

height: 100%;
overflow: hidden;
}
#shine img {
width: 100%;
}
#shine:before {
content: '';
position: absolute;
top: 0;
left: -100px;
width: 70px;
height: 98%;
background: rgba(255,255,255, 0.3);
transform: skewX(-40deg);
animation-name: slide;
animation-duration: 7s;
animation-timing-function: ease-in-out;
animation-delay: .3s;
animation-iteration-count: infinite;
animation-direction: alternate;
background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
@keyframes slide {
  0% {
    left: -300;
    top: 0;
  }
  50% {
    left: 120px;
    top: 0px;
  }
  100% {
    left: 290px;
    top: 0;
  }
}




@tailwind base;
@tailwind components;
@tailwind utilities;
